<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <link rel="stylesheet" href="/purecss/base.css">
	<link rel="stylesheet" href="/purecss/pure.css">
	<link rel="stylesheet" href="/purecss/grids-responsive.css">
    <link rel="stylesheet" href="/style.css">
    <title>{% block title %}{% endblock %} - BatchCleaner</title>
    <script type="text/javascript" src="/eel.js"></script>
    <script type="text/javascript">
        eel.expose(say_hello);
        function say_hello() {
            alert("hello js");
        }
    </script>
</head>
<body>
    <div class="pure-g wrapper">
        <div class="pure-u-1-1 pure-g menu-bar">
            <div class="pure-u-1-3 menu-item">LOGO</div><!--
            --><div class="pure-u-1-3 menu-item"><a href="/templates/clean.htm">&#128465; Delete Files</a></div><!--
            --><div class="pure-u-1-3 menu-item"><a href="/templates/stats.htm">&#128202; Stats</a></div>
        </div>
        {% block content %}{% endblock %}
    </div>
</body>
</html>