{% extends 'base.htm' %}
{% block title %}Delete Files{% endblock %}
{% block content %}
<div class="pure-u-1-1 file-list-wrapper">
    <div class="file-list-container">
        <table class="pure-table file-table">
            <thead>
                <th class="dir">Directory</th>
                <th class="slim">Size</th>
                <th class="slim">Recursive</th>
                <th>Actions</th>
            </thead>
            <tbody id="file-table-body">
            </tbody>
        </table>
    </div>
</div>
<div class="pure-u-1-1 centered"><button class="pure-button button-green" onclick="newPath()" onload="eel.get_paths()">Add Directory</button></div>
<div class="pure-u-1-1 centered"><button class="pure-button button-remove" onclick="callClean()">&#128465; Empty All Directories</button></div>
<div id="log-box" class="pure-u-1-1 log-box"></div>
<script type="text/javascript">eel.get_paths()</script>
{% endblock %}