{% extends 'base.htm' %}
{% block title %}Stats{% endblock %}
{% block content %}
<div class="pure-u-1-1 stats-wrapper">
    <h2 style="margin-top: 0.25em; margin-bottom: 0.25em;">Stats</h2>
    <b class="total-stats">Total deleted size: </b><span id="total"></span>
    <div id="pieChart" class="stats"></div>
</div>
<div class="pure-u-1-1 footer">
    <div class="centered"><button class="pure-button button-green" onlclick="eel.openRepo()">Visit BatchCleaner on GitHub</button></div>
</div>
<script type="text/javascript">requestStats();</script>
{% endblock %}